In [172]:
import pandas as pd

In [173]:
import numpy as np

In [174]:
df=pd.read_csv('C:\\Users\\aa\\Desktop\\project files\\CarPrice_Assignment.csv')

In [176]:

df.dtypes.head(2)

car_ID       int64
symboling    int64
dtype: object

In [177]:
df.isnull().sum().head(2)

car_ID       0
symboling    0
dtype: int64

In [178]:
df.head(2)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0

In [179]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [180]:
lb_make = LabelEncoder()

In [181]:
df["car_code"] = lb_make.fit_transform(df["CarName"])

In [182]:
df[["CarName", "car_code"]].head(11)

                     CarName  car_code
0         alfa-romero giulia         2
1        alfa-romero stelvio         3
2   alfa-romero Quadrifoglio         1
3                audi 100 ls         4
4                 audi 100ls         5
5                   audi fox         9
6                 audi 100ls         5
7                  audi 5000         7
8                  audi 4000         6
9        audi 5000s (diesel)         8
10                  bmw 320i        10

In [183]:
df.head(2)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,car_code
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,2
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,3

In [184]:
df.fueltype.value_counts()

gas       185
diesel     20
Name: fueltype, dtype: int64

In [185]:
df.aspiration.value_counts()

std      168
turbo     37
Name: aspiration, dtype: int64

In [186]:
df.doornumber.value_counts()

four    115
two      90
Name: doornumber, dtype: int64

In [187]:
df.carbody.value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: carbody, dtype: int64

In [188]:
df.drivewheel.value_counts()

fwd    120
rwd     76
4wd      9
Name: drivewheel, dtype: int64

In [134]:
df.enginelocation.value_counts()

front    202
rear       3
Name: enginelocation, dtype: int64

In [189]:
df.enginetype.value_counts()

ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: enginetype, dtype: int64

In [190]:
df.cylindernumber.value_counts()

four      159
six        24
five       11
eight       5
two         4
three       1
twelve      1
Name: cylindernumber, dtype: int64

In [191]:
df.fuelsystem.value_counts()

mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
spfi     1
mfi      1
Name: fuelsystem, dtype: int64

In [192]:
nums={"fueltype":{"gas":1,"diesel":2},"aspiration":{"std":1,"turbo":2},"doornumber":{"four":4,"two":2},"carbody":{"sedan":1,"hatchback":2,"wagon":3,"hardtop":4,"convertible":5},"drivewheel":{"fwd":1,"rwd":2,"4wd":3},"enginelocation":{"front":1,"rear":2},"enginetype":{"ohc":1,"ohcf":2,"ohcv":3,"dohc":4,"l":5,"rotor":5,"dohcv":6},"cylindernumber":{"four":4,"six":6,"five":5,"eight":8,"two":2,"three":3,"twelve":12},"fuelsystem":{"mpfi":1,"2bbl":2,"idi":3,"1bbl":4,"spdi":5,"4bbl":6,"spfi":7,"mfi":8}}

In [193]:
df.replace(nums, inplace=True)

In [194]:
df.head(2)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,car_code
0,1,3,alfa-romero giulia,1,1,2,5,2,1,88.6,...,1,3.47,2.68,9.0,111,5000,21,27,13495.0,2
1,2,3,alfa-romero stelvio,1,1,2,5,2,1,88.6,...,1,3.47,2.68,9.0,111,5000,21,27,16500.0,3

In [141]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price', 'car_code'],
      dtype='object')

In [195]:
df.drop(["CarName"],axis=1,inplace=True)

In [196]:
df.head(2)

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,car_code
0,1,3,1,1,2,5,2,1,88.6,168.8,...,1,3.47,2.68,9.0,111,5000,21,27,13495.0,2
1,2,3,1,1,2,5,2,1,88.6,168.8,...,1,3.47,2.68,9.0,111,5000,21,27,16500.0,3

In [197]:
df.shape[1]

26

In [198]:
x=df.iloc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,25]]

In [199]:
x.head(2)

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,car_code
0,3,1,1,2,5,2,1,88.6,168.8,64.1,...,130,1,3.47,2.68,9.0,111,5000,21,27,2
1,3,1,1,2,5,2,1,88.6,168.8,64.1,...,130,1,3.47,2.68,9.0,111,5000,21,27,3

In [200]:
y=df.iloc[:,[24]]

In [201]:
y.head(2)

     price
0  13495.0
1  16500.0

In [202]:
from sklearn.model_selection import train_test_split

In [99]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [100]:
from sklearn.linear_model import LinearRegression

In [101]:
regressor=LinearRegression()

In [102]:
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [103]:
y_pred =pd.DataFrame(regressor.predict(x_test),columns=['y_pred_test'])

In [105]:
pd.DataFrame(y_pred).head(2)

    y_pred_test
0   5406.170220
1  16248.867431

In [106]:
regressor.score(x_test,y_test)

0.8155568397443342

In [ ]:
######

In [208]:
y_train=np.round(y_train)

In [209]:
x_train=np.round(x_train)

In [210]:
from sklearn.ensemble import RandomForestRegressor

In [211]:
from sklearn.model_selection import KFold, cross_val_score, train_test_split

In [212]:
from sklearn import metrics

In [213]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [214]:
RF_model = RandomForestClassifier(random_state=0)

In [215]:
RF_model.fit(x,y)

C:\Users\aa\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\aa\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

ValueError: Unknown label type: 'continuous'