In [4]:
import pandas as pd

In [36]:
import numpy as np

In [5]:
house_data = pd.read_csv('https://raw.githubusercontent.com/zekelabs/data-science-complete-tutorial/master/Data/house_rental_data.csv.txt', index_col='Unnamed: 0')

In [6]:
house_data.head(10)

        Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom   Price
1   1177.698      2           7        2            2         2   62000
2   2134.800      5           7        4            2         2   78000
3   1138.560      5           7        2            2         1   58000
4   1458.780      2           7        3            2         2   45000
5    967.776     11          14        3            2         2   45000
6   1127.886     11          12        4            2         2  148000
7   1352.040      5           7        3            2         1   58000
8    757.854      5          14        1            0         1   48000
9   1152.792     10          12        3            2         2   45000
10  1423.200      4           5        4            2         2   65000

In [7]:
house_data.rename(columns={'Living.Room':'Livingroom'}).head(10)

        Sqft  Floor  TotalFloor  Bedroom  Livingroom  Bathroom   Price
1   1177.698      2           7        2           2         2   62000
2   2134.800      5           7        4           2         2   78000
3   1138.560      5           7        2           2         1   58000
4   1458.780      2           7        3           2         2   45000
5    967.776     11          14        3           2         2   45000
6   1127.886     11          12        4           2         2  148000
7   1352.040      5           7        3           2         1   58000
8    757.854      5          14        1           0         1   48000
9   1152.792     10          12        3           2         2   45000
10  1423.200      4           5        4           2         2   65000

In [32]:
columns=house_data.columns.tolist()

In [8]:
feature_data=list(house_data)

In [11]:
feature_data

['Sqft', 'Floor', 'TotalFloor', 'Bedroom', 'Living.Room', 'Bathroom', 'Price']

In [12]:
target_data=house_data['Price']

In [90]:
from sklearn.model_selection import train_test_split

In [1]:
import statsmodels.api as sm

In [2]:
import statsmodels.formula.api as smf

In [93]:
from patsy import dmatrices

In [13]:
feature_data=sm.add_constant(feature_data)

TypeError: cannot perform reduce with flexible type

In [ ]:
mod = sm.OLS(target_data, feature_data)

In [ ]:
mod

In [114]:
res = mod.fit()

In [78]:
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.925
Model:                            OLS   Adj. R-squared:                  0.925
Method:                 Least Squares   F-statistic:                     3957.
Date:                Sat, 06 Jul 2019   Prob (F-statistic):               0.00
Time:                        13:00:59   Log-Likelihood:                -7289.8
No. Observations:                 645   AIC:                         1.458e+04
Df Residuals:                     643   BIC:                         1.459e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Sqft          36.6513      0.727     50.396      0.000      35.223      38.079
Floor       1068.3895    175.199      6.098      0.000     724.358    1412.421
==============================================================================
Omnibus:                      164.179   Durbin-Watson:                   1.969
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              580.377
Skew:                           1.163   Prob(JB):                    9.39e-127
Kurtosis:                       7.023   Cond. No.                         388.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [118]:
house_data['predicted_price']=mod.predict(sm.add_constant(data))

ValueError: shapes (645,2) and (645,3) not aligned: 2 (dim 1) != 645 (dim 0)

In [117]:
#house_data[feature_data]
data=feature_data[['Sqft','Floor']]