In [1]:
import numpy as np

In [36]:
import pandas as pd

In [37]:
import matplotlib.pyplot as plt

In [38]:
%matplotlib inline

In [50]:
df=pd.read_csv('D:\pywork\pyproject\sippython\\new_car.csv')

In [51]:
df

     brand     model  price  kmpl  bhp       type
0     Tata      Nano    199  23.9   38  Hatchback
1   Suzuki  Alto 800    248  22.7   47  Hatchback
2  Hyundai       EON    302  21.1   55  Hatchback
3   Suzuki   Wagon-R    363  20.5   67  Hatchback
4  Hyundai       i10    418  19.8   68  Hatchback
5   Suzuki     Swift    462  20.4   83  Hatchback
6  Hyundai       i20    523  18.6   82  Hatchback

In [53]:
from sklearn import linear_model

In [54]:
y=df.price

In [55]:
x=df[['kmpl','bhp']]

x

In [56]:
x

   kmpl  bhp
0  23.9   38
1  22.7   47
2  21.1   55
3  20.5   67
4  19.8   68
5  20.4   83
6  18.6   82

In [57]:
model_sklearn=linear_model.LinearRegression()

In [58]:
model_sklearn

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [59]:
model_sklearn.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [60]:
model_sklearn.coef_

array([-21.72670412,   4.64289836])

In [61]:
model_sklearn.intercept_

523.7071753605239